# local_ip		Source IP address to use. Optional, default: 0.0.0.0
# local_port	Source UDP port to use. Optional, default: 6665
# dev_name		Local network interface name. Optional, default: eth0
# remote_ip		Remote agent's IP address. Necessary, default: 0.0.0.0
# remote_port	Remote agent's UDP port. Optional, default: 6666
# remote_mac	Remote agent's MAC address. Optional, default: 'ff:ff:ff:ff:ff:ff' (not used)
# extended		Extended mode enabled. Optional, default: 0
# enabled		Is this target currently enabled? Optional, default: 0

config netconsole
	option local_ip		'0.0.0.0'
	option local_port	'6665'
	option dev_name		'eth0'
	option remote_ip	'0.0.0.0'
	option remote_port	'6666'
	option remote_mac	'ff:ff:ff:ff:ff:ff'
	option extended		'0'
	option enabled		'0'
